<tr class='<%= cycle('even', 'odd') %>' >
  <td><%= link_to(session.user.name, session.user) %>   </td>
  <td><%= h session.created_at %>                                             </td>
  <td><%= link_to(session.project.name, session.project) %></td>
  <td><%= h minutes_to_time(session.minutes) %>      </td>
  <td><%= link_to('View', session)   %>                   </td>
</tr>

